@font-face {
    font-family: Roboto;
    src: url("assets/font/Roboto-Regular.ttf");
}
   
html {
    scroll-behavior: smooth; 
}
   
body {
display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
   
 .container {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "ph-contact title-about"
        "footer footer";
   }
   
.header {
    display: grid;
    grid-template-columns: 2fr;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    grid-area: header;
    width: 100%;
    height: 65px;
    background: #dedede;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style: none;
}

nav a {
    line-height: 20px;
    color: #4c4c4c;
}

.ph-contact {
    grid-area: ph-contact;
    background: #4c4c4c;
}

.avatar {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
}

section#contact {
    padding: 20px 0 0 40px;
    color: #e0e0e0;
}

ul.contact__list {
    margin-left: 0;
    padding-left: 0;
    font-size: medium;
}

li.contact__item {
    list-style-type: none;
    line-height: 1.7;
}

.title-about {
    grid-area: title-about;
    background: aliceblue;
    color: #333333;
}

.t-col {
    margin: 25px 80px 80px 60px;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #354c61;
    margin: 100px 0 0px 50px;
}

blockquote {
    margin: 0;
    background: white;
    text-align: center;
}

.section-title p {
    padding: 5px 0;
}

section#about-me {
    margin-top: 95px;
}

section#skills, #experience, #education, #lang {
    margin-top: 60px;
}

.footer {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    grid-area: footer;
    width: 100%;
    height: 65px;
    background: #dedede;
}

a.footer__github {
    display: flex;
}

.icon-gh {
    margin-right: 5px;
}